<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.virtualapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-sdk tools:overrideLibrary="com.android.launcher3,android.support.dynamicanimation" />

    <application
        android:name=".VApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:icon,android:label">

        <meta-data
            android:name="TencentMapSDK"
            android:value="4HPBZ-2QWC6-H47SR-M6PZY-MTZB5-N2F4F"/>

        <activity
            android:name=".splash.SplashActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".home.HomeActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/UITheme" />

        <activity
            android:name=".home.ListAppActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".home.LoadingActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity="va.task.loading"
            android:theme="@style/TransparentTheme" />

        <activity
            android:name=".home.location.VirtualLocationSettings"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/UITheme" />

        <activity
            android:name=".home.location.MarkerActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/UITheme" />

        <activity
            android:name=".sys.InstallerActivity"
            android:allowTaskReparenting="true"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_installer_label"
            android:noHistory="true"
            android:taskAffinity="io.va.exposed.installer"
            android:theme="@style/Theme.AppCompat.Light" />

        <activity-alias
            android:name="vxp.installer"
            android:enabled="true"
            android:exported="true"
            android:targetActivity=".sys.InstallerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="application/vnd.android.package-archive" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="application/vnd.android.package-archive" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
